<header class="main-header">

    <!-- Logo -->
    <a href="/" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>F</b></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Fibre</b></span>
    </a>

    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a style="border-color: #333;" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="<%= user.avatar.startsWith("a_") ? user.displayAvatarURL.slice(0,-5) + ".gif" : user.displayAvatarURL %>" class="user-image" alt="User Image">
                        <span class="hidden-xs"><%= user.tag %></span>
                    </a>
                    <ul style="border-color: #333; border-top-color: #333; border-radius: 0%;" class="dropdown-menu">
                        <li><a style="border-color: #333; background-color: #333; color: aliceblue;" href="/logout/"><center><i class="fa fa-sign-out"></i> Logout</center></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

</header>

